spring:
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            redirect-uri: ${AUTH_SERVER_URL:http://localhost:8080}/oauth2/callback/github
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${AUTH_SERVER_URL:http://localhost:8080}/oauth2/callback/google
            scope:
              - email
              - profile

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 3600
  refresh-token-validity: 86400
