spring:
  ai:
    openai:
      api-key: ${AI_API_KEY}
      base-url: https://generativelanguage.googleapis.com/v1beta/openai
      chat:
        options:
          model: gemini-2.5-flash
          reasoning-effort: none
