spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL:jdbc:mysql://localhost:3306/qlmcp}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:password}

  jpa:
    hibernate:
      ddl-auto: create-drop
---
spring:
  activate:
    on-profile: prod

  jpa:
    hibernate:
      ddl-auto: update
