name: backend-ci

run-name: ${{ github.actor }} triggered backend continuous integration

on:
  pull_request:
    branches:
      - develop
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - "backend/**"
      - ".github/workflows/backend-ci.yml"

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ci-backend-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  backend:
    name: Test
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5.0.0
        with:
          distribution: "corretto"
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Test with Gradle
        run: ./gradlew test
